<?xml version="1.0" encoding="UTF-8"?>
<flow-definition plugin="workflow-job@2.17">
   <actions>
      <org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch@2.17">
         <jobPropertyDescriptors>
            <string>hudson.model.ParametersDefinitionProperty</string>
            <string>jenkins.model.BuildDiscarderProperty</string>
            <string>jenkins.branch.RateLimitBranchProperty$JobPropertyImpl</string>
         </jobPropertyDescriptors>
      </org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
   </actions>
   <description />
   <keepDependencies>false</keepDependencies>
   <properties>
      <io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty plugin="openshift-sync@1.0.7">
         <uid />
         <namespace />
         <name />
         <resourceVersion />
      </io.fabric8.jenkins.openshiftsync.BuildConfigProjectProperty>
      <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.27">
         <autoRebuild>false</autoRebuild>
         <rebuildDisabled>false</rebuildDisabled>
      </com.sonyericsson.rebuild.RebuildSettings>
      <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
         <triggers />
      </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <jenkins.model.BuildDiscarderProperty>
         <strategy class="hudson.tasks.LogRotator">
            <daysToKeep>90</daysToKeep>
            <numToKeep>100</numToKeep>
            <artifactDaysToKeep>30</artifactDaysToKeep>
            <artifactNumToKeep>100</artifactNumToKeep>
         </strategy>
      </jenkins.model.BuildDiscarderProperty>
      <jenkins.branch.RateLimitBranchProperty_-JobPropertyImpl plugin="branch-api@2.0.18">
         <durationName>hour</durationName>
         <count>150</count>
         <userBoost>false</userBoost>
      </jenkins.branch.RateLimitBranchProperty_-JobPropertyImpl>
      <hudson.model.ParametersDefinitionProperty>
         <parameterDefinitions>
            <hudson.model.StringParameterDefinition>
               <name>PROVIDED_KOJI_TASKID</name>
               <description>Give an integer only task id to use those artifacts and bypass the rpm build stage (example 123456)</description>
               <defaultValue />
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>ghprbActualCommit</name>
               <description>The GitHub pull request commit</description>
               <defaultValue>master</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>ghprbGhRepository</name>
               <description>The repo the PR is against</description>
               <defaultValue />
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>sha1</name>
               <description />
               <defaultValue />
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>ghprbPullId</name>
               <description>Pull Request Number</description>
               <defaultValue />
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>ghprbPullAuthorLogin</name>
               <description>Pull Request Author username</description>
               <defaultValue />
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>SLAVE_TAG</name>
               <description>Tag for slave image</description>
               <defaultValue>stable</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>RPMBUILD_TAG</name>
               <description>Tag for rpmbuild image</description>
               <defaultValue>stable</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>INQUIRER_TAG</name>
               <description>Tag for inquirer image</description>
               <defaultValue>stable</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>CLOUD_IMAGE_COMPOSE_TAG</name>
               <description>Tag for cloud-image-compose image</description>
               <defaultValue>stable</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>OSTREE_BOOT_IMAGE_TAG</name>
               <description>Tag for ostree boot image</description>
               <defaultValue>stable</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>SINGLEHOST_TEST_TAG</name>
               <description>Tag for singlehost test image</description>
               <defaultValue>stable</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>DOCKER_REPO_URL</name>
               <description>Docker repo url for Openshift instance</description>
               <defaultValue>172.30.254.79:5000</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>OPENSHIFT_NAMESPACE</name>
               <description>Project namespace for Openshift operations</description>
               <defaultValue>continuous-infra</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>OPENSHIFT_SERVICE_ACCOUNT</name>
               <description>Service Account for Openshift operations</description>
               <defaultValue>jenkins</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
            <hudson.model.StringParameterDefinition>
               <name>CI_MESSAGE</name>
               <description>CI_MESSAGE</description>
               <defaultValue>{"commit":{"username":"eseyman","stats":{"files":{"perl-Net-FTPSSL.spec":{"deletions":2,"additions":5,"lines":7},".gitignore":{"deletions":0,"additions":1,"lines":1},"sources":{"deletions":1,"additions":1,"lines":2}},"total":{"deletions":3,"files":3,"additions":7,"lines":10}},"name":"Emmanuel Seyman","rev":"c1c7de158fa72de5bd279daaaac9f75d0b3e65cd","namespace":"rpms","agent":"eseyman","summary":"Update to 0.40","repo":"perl-Net-FTPSSL","branch":"master","seen":false,"path":"/srv/git/repositories/rpms/perl-Net-FTPSSL.git","message":"Update to 0.40 ","email":"emmanuel@seyman.fr"},"topic":"org.fedoraproject.prod.git.receive"}</defaultValue>
               <trim>false</trim>
            </hudson.model.StringParameterDefinition>
         </parameterDefinitions>
      </hudson.model.ParametersDefinitionProperty>
   </properties>
   <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.45">
      <scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
         <configVersion>2</configVersion>
         <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
               <url>https://github.com/CentOS-PaaS-SIG/upstream-fedora-pipeline.git</url>
            </hudson.plugins.git.UserRemoteConfig>
         </userRemoteConfigs>
         <branches>
            <hudson.plugins.git.BranchSpec>
               <name>${ghprbActualCommit}</name>
            </hudson.plugins.git.BranchSpec>
         </branches>
         <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
         <submoduleCfg class="list" />
         <extensions />
      </scm>
      <scriptPath>Jenkinsfile</scriptPath>
      <lightweight>false</lightweight>
   </definition>
   <triggers />
   <disabled>false</disabled>
</flow-definition>
